.tolomeo-tolofilterbuilder .x-toolbar {
    background: transparent;
    border: none !important;
}

.x-btn .add {
    background-image: url(../img/add.png);
}

.x-btn .delete {
    background-image: url(../img/delete.png);
}


.filterviewupdate{
	 background-image: url(../img/arrow_refresh.png);
}

/*****************
 **BBOX FieldSet**
 *****************/

.spatial-cell{
    text-align: center;
}

.aoi-fields{
    margin-left: 0%;
    margin-right: 5%;
}

.aoi-button{
    background-image: url(../img/shape_square.png) !important;
}

.center-align{
	margin: auto;
}

/*********************
 ** Buffer Fieldset **
 *********************/
 
.gx-cursor{
    background-image: url(../img/cursor.png);
}

/*********************
 **   FeatureGrid   **
 *********************/

.x-action-col-cell  .zoomaction{
	background-image: url(../img/magnifier.png) !important;
	width: 16px;
	height: 16px;
}

.pageviewonmap{
	background-image: url(../img/map_add.png) !important;
	width: 16px;
	height: 16px;
}

.pagezoomonmap{
	background-image: url(../img/magnifier.png) !important;
	width: 16px;
	height: 16px;
}